<meta charset="utf-8">
<title>ApiAdmin - 专注于Api的开发和管理</title>
<meta name="keywords" content="layui,ui,前端框架,JS组件">
<meta name="description" content="经典模块化前端框架">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="./static/lib/layui/css/layui.css" media="all">
<link rel="stylesheet" href="./static/less/common.less" media="all">
<!--<script src="./layui/layui.js" charset="utf-8"></script>-->
<script src="./static/lib/layui/layui.all.js" charset="utf-8"></script>