<div class="fly-tab fly-tab-index">
    <span>
        <a href="jie/index.html">全部</a>
        <a href="jie/index.html">未结帖</a>
        <a href="jie/index.html">已采纳</a>
        <a href="jie/index.html">精帖</a>
        <a href="user/index.html">我的帖</a>
    </span>
    <form action="http://cn.bing.com/search" class="fly-search">
        <i class="iconfont icon-sousuo"></i>
        <input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="q">
    </form>
    <a href="jie/add.html" class="layui-btn jie-add">发布问题</a>
</div>